
  {{>navbar}}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/images/home-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>Clean Blog</h1>
            <span class="subheading">A Blog Theme by Start Bootstrap</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="post-preview">
          {{#each items}}
            <a href="/post/{{this._id}}">
              <h2 class="post-title">
                {{ this.title }}
              </h2>
            </a>
            <p class="post-meta">Posted by
              <a href="#">{{this.username}}</a>
              on {{ this.createdAt }}</p>
          {{/each}}
        </div>
        <hr>
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>

  <hr>

  {{>footer}}

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/javascripts/clean-blog.min.js"></script>

