
  {{>navbar}}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url('/images/post-bg.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ items.title }}</h1>
            <span class="meta">Posted by
              <a href="#">{{items.username}}</a>
              on {{items.createdAt}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Post Content -->
  <article>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          {{items.description}}
        </div>
      </div>
    </div>
  </article>

  <hr>

  {{>footer}}

  <!-- Bootstrap core JavaScript -->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/javascripts/clean-blog.min.js"></script>